.about {
  flex-direction: column;
  margin-top: 3em !important;
}

.about__name {
  color: var(--clr-primary);
  color: #cdcdff;
}

.about__role {
  margin-top: 1.2em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
  color: #cdcdff;
  margin-bottom: 1.2em;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}
.about img {
  border-radius: 50%;
}
.contain-cv {
  margin: 3em;
}
.cv {
  margin: 1em;
  border: 0 solid;
  color: #ffffff;
  padding: 20px;
  text-decoration: none;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  list-style: none;

  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.cv:hover {
  border: 1px solid;
  color: #ffffff;

  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #728a94;
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}

@media (max-width: 274px) {
  .cv {
    margin: 0em;
  }
}
