.project {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.2s linear;
}

.project:hover {
  transform: translateY(-7px);
}

.project__description {
  margin: 1em;
}

.project .link--icon {
  color: #a9a9cc;
  font-size: 1.5rem;
  margin: 0.5em;
}
.project .link--icon :hover {
  color: #cdcdff;
}
